{% extends "layout.html" %}
{% set title = "Criar conta • Mari-Olivier" %}
{% block body %}

Mari-Olivier

Criar conta

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

    {% for cat, msg in messages %}

      {{ msg }}

    {% endfor %}

  {% endif %}
{% endwith %}

{{ form.csrf_token }}

Nome
{{ form.name(class_="input", placeholder="Seu nome") }}

Email
{{ form.email(class_="input", placeholder="seuemail@exemplo.com") }}

Senha
{{ form.password(class_="input", placeholder="••••••••") }}

Confirmar senha
{{ form.confirm_password(class_="input", placeholder="••••••••") }}

Criar conta

Já tem conta?
<a href="{{ url_for('auth.login') }}">Fazer login</a>

{% endblock %}
